@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(assets/images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header
{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: white;
}

.content{
    max-width: 550px;
    margin: 60px 100px;
}

.content .info h2{
    color:#244D32;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333333;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 50px;
}

.content .info-btn{
    color:blanchedalmond;
    background-color: #568C99;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background-color:#183E45;
}

.media-icons{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    margin-bottom: 100px;
    position: relative;
    color: darkgray;
    width: 30px;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child)
{
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}


/* Styles below makes this webpage responsive*/

@media(max-width:960px){
    header .navigation{
        display: none;
    }

    label
    {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover
    {
        color:white;
    }


    label .fa-xmark{
        display: none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background:rgba(204, 204, 204, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .fa-bars{
        display: none;
    }


    #check:checked ~ header label .fa-xmark{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .fa-bars
    {
        position: absolute;
    }

    header .logo{
        position: absolute;
        
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content  .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media(max-width:560px)
{
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content  .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}


/*Thank you for viewing my project*/